html, body {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.site-title {
  font-family: 'Share Tech Mono', monospace;
  text-align: left;
  padding-left: 5%;
}

.splash-screen {
  width: 70%;
  margin: 10% auto 0 auto;
}

.recommendation-page {
  width: 70%;
  margin: 10% auto 0 auto;
}

.ratings-page {
  margin-top: 10%;
}

.movie-list {
  margin: 0 auto
}

